# Database Configurations (defaults are provided in code)
# MYSQL_HOST=host.docker.internal
# MYSQL_USER=root
# MYSQL_PASSWORD=your_password
# MYSQL_PORT=3306

# SQLITE_DB_PATH=/app/data/test.db
# DUCKDB_PATH=/app/data/duck.db

# Redis Cache Settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL_SECONDS=86400
